.dropzone {
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s ease;
  }
  
  .dropzone p {
    margin: 0;
  }
  
  .dropzone.dragover {
    border-color: #0dd273;
  }